.navbar {
    background-color: aqua;
}

body{
    font: 20px, Arial, sans-serif
}

.quem-somos {
    background-color: lightgrey;
    color: white;

}

.margin {
    padding-top: 20px;
    padding-bottom: 20px;
}

.parceiros {
    background-color: lightskyblue;
}