.navbar {
    background-color: aqua;
}

body{
    font: 20px, Arial, sans-serif
}

.quem-somos {
    background-color: white;
    color: gray;

}

.margin {
    padding-top: 20px;
    padding-bottom: 20px;
}

.parceiros {
    background-color: lightskyblue;
    color: gray;    
}

.servicos {
    background-color: white;
    color: gray;
}

.bg-footer {
    background-color: aqua;
    color: gray;
}